<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <h1>
        <%= title %>
    </h1>

    <%- include('partials/navbar.ejs') %>

    <% if (typeof message !== 'undefined'){ %>
        <%= message %>
    <% } %>

    <form action="/edit/<%= user._id %>" method="post">
        <div>
            <label for="">Nome</label>
            <input type="text" placeholder="Digite seu nome!" name="name" value="<%= user.name %>">
        </div>
        <div>
            <label for="">Idade</label>
            <input type="text" placeholder="Digite sua idade!" name="age" value="<%= user.age %>">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" placeholder="Digite seu email!" name="email" value="<%= user.email %>">
        </div>
        <button type="submit">editar</button>
    </form>

    <%- include('partials/foot.ejs') %>
</body>
</html>